<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}

        <img src="/img/3.3.jpg" class="portrait" alt="">
        
        <h3>{{paragraph}}</h3>
    </div>
    

    {{>footer}}
</body>
</html>